.Search{
  width: 90%;
  margin: 0 auto;
  color: #d7d7d7;
  .notFound{
    font-size: 2rem;
    text-align: center;
    margin:100px 0;
  }
  h1{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}