.trailer{
  width: 90%;
  margin: 30px auto;
  color: #ebebeb;
  &__info{
    display: flex;
    gap: 20px;
    &__portada{
      overflow: hidden;
      height: 350px;
      width: 300px;
      img{
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
      }
    }
    &__description{
      .titulo{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .info{
        color: #d7d7d7;
        font-size: 1.2rem;
        margin-bottom: 10px;
        strong{
          font-weight: bold;
        }
      }
    }
  }
  &__video{
    margin: 50px auto;
    height: 500px;
    iframe{
      width: 100%;
      height: 100%;
    }
  }
}

